
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
}

#header{
    background-color: rgb(235, 152, 44);
    padding: 10px;
    text-align: center;
}


.col{
    float: left;
    width: 33.3%;
    padding: 15px;
    border: 1px solid red;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .col{
        width: 100%;
    }
}