#ox{
    border: 1px solid red;
    width: 500px;
    margin: auto;
    background-color: yellow;
    background-clip: content-box;
    padding: 10px;
}

#grad{
    height: 200px;
    background-image: repeating-linear-gradient
    (red, yellow 10%, blue 20%);
}